{% extends 'base.html' %}
{% block title %}Application Form{% endblock %}
{% block content %}
  <p>One of us! One of us!...</p>
  <form class="outline" action="application-success" method="POST">
    <label for="firstname">First Name:</label>
      <input id="firstname" type="text" name="firstname"><br>
    <label for="lastname">Last Name:</label>
      <input id="lastname" type="text" name="lastname"><br>
    <label for="salaryreq">Salary Requirement:</label> 
      <input id="salaryreq" type="number" name="salaryreq"><br>
    <label for="jobtitle">Job Title:</label>
      <select id="jobtitle" name="jobtitle">
  <!-- {% if jobs %} -->
        {% for job in jobs %}
        <option value="{{job}}">{{ job }}</option>
        {% endfor %}
  <!-- {% endif %} -->
      </select>
      <br>
    <input type="submit">
  </form>
{% endblock %}
